openapi: 3.1.0
info:
  description: '

    ## Introduction


    The **CAPEX API** enables you to integrate your application with the CAPEX system. The CAPEX API is REST-based and follows JSON:API principles for structuring responses.


    Starting from version 1.0, the API is stable. We are continuously improving our API, and new endpoints will be added. Any updates or changes within this major version will be backward-compatible and can be found in this documentation.


    For getting access to the CAPEX API, please reach out to us at: `kontakt@alasco.de`.


    The base URL for all endpoints is:

    `https://api.alasco.de/capex/v1`


    The CAPEX API supports compressed payloads. If you would like to make use of this, you have to specify the `Accept-Encoding` header. Supported encodings are `gzip` and `br`.


    ### Domain model


    Objects relate as follows (each `→` is a navigable sub-resource):


    - **Assets** and **Measures** are the CapEx-specific top-level objects; a **Measure** → **Contracts**, and invoices are submitted against an **Asset**.

    - **Contractor** and **Contracting Entity** → **Contracts**.

    - **Contract** → **Change Orders**, **Invoices**, contract terms, **Documents** and **Custom Fields**.

    - **Invoice** → **Documents** and **Tags** (Change Orders also carry **Documents**).


    ### CAPEX API Overview


    The CAPEX API provides endpoints to:

    - Retrieve and manage invoices, invoice tags, and invoice documents

    - Retrieve assets, contracts, contractors, and measures


    The CAPEX API uses pagination. The page size is 100, and additional pages can be accessed using a `next` link.

    '
  title: CAPEX Annual Consumption Contact API
  version: '1.0'
  x-logo:
    url: https://assets-global.website-files.com/656ef2eb27ad41897248f866/659eebec190ae7aaf4162f09_Logotype_Alasco_white_RGB%202.png
servers:
- url: https://api.alasco.de/capex/v1
tags:
- description: A **Contact** is a person or organisation used in invoicing and correspondence, with name, address and contact details. Contacts can be created and updated through the API.
  name: Contact
paths:
  /contacts/:
    get:
      operationId: get_contacts_contacts__get
      parameters:
      - description: '

          List endpoint responses are paginated in the Alasco API. By calling the endpoint without the

          pagination parameter you will receive the first page. If not all elements fit on one page there will

          be a `next` link provided in the response''s `links` object. By calling this link you will receive

          the next page.

          '
        in: query
        name: cursor[position]
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: '

            List endpoint responses are paginated in the Alasco API. By calling the endpoint without the

            pagination parameter you will receive the first page. If not all elements fit on one page there will

            be a `next` link provided in the response''s `links` object. By calling this link you will receive

            the next page.

            '
          title: Cursor[Position]
      - description: '

          You can filter on certain attributes by specifying them as a GET parameter along

          with an operation, e.g. `filter[name.exact]=abc`.


          Currently supported operations are:

          * `exact`: Expects one value

          * `contains`: Expects one value

          * `less_than_equal`: Expects one value

          * `greater_than_equal`: Expects one value

          * `range`: Expects two values

          * `in`: Expects one or multiple values

          * `not_in`: Expects one or multiple values


          The following attributes support filtering:


          | **Attribute** | `exact` | `contains` | `less_than_equal` | `greater_than_equal` | `range` | `in` | `not_in` |

          | :--- | :---: | :---: | :---: | :---: | :---: | :---: | :---: |

          | `id` |   |   |   |   |   | x | x |

          | `type` |   |   |   |   |   | x | x |

          | `salutation` |   |   |   |   |   | x | x |

          | `title` |   |   |   |   |   | x | x |

          | `first_name` | x | x |   |   |   |   |   |

          | `last_name` | x | x |   |   |   |   |   |

          | `description` | x | x |   |   |   |   |   |

          | `address` | x | x |   |   |   |   |   |

          | `zip_code` | x | x |   |   |   |   |   |

          | `city` | x | x |   |   |   |   |   |

          | `email` | x | x |   |   |   |   |   |

          | `phone_number` | x | x |   |   |   |   |   |

          | `date_created` |   |   | x | x | x |   |   |

          '
        in: query
        name: filter[attribute.operation]
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: '

            You can filter on certain attributes by specifying them as a GET parameter along

            with an operation, e.g. `filter[name.exact]=abc`.


            Currently supported operations are:

            * `exact`: Expects one value

            * `contains`: Expects one value

            * `less_than_equal`: Expects one value

            * `greater_than_equal`: Expects one value

            * `range`: Expects two values

            * `in`: Expects one or multiple values

            * `not_in`: Expects one or multiple values


            The following attributes support filtering:


            | **Attribute** | `exact` | `contains` | `less_than_equal` | `greater_than_equal` | `range` | `in` | `not_in` |

            | :--- | :---: | :---: | :---: | :---: | :---: | :---: | :---: |

            | `id` |   |   |   |   |   | x | x |

            | `type` |   |   |   |   |   | x | x |

            | `salutation` |   |   |   |   |   | x | x |

            | `title` |   |   |   |   |   | x | x |

            | `first_name` | x | x |   |   |   |   |   |

            | `last_name` | x | x |   |   |   |   |   |

            | `description` | x | x |   |   |   |   |   |

            | `address` | x | x |   |   |   |   |   |

            | `zip_code` | x | x |   |   |   |   |   |

            | `city` | x | x |   |   |   |   |   |

            | `email` | x | x |   |   |   |   |   |

            | `phone_number` | x | x |   |   |   |   |   |

            | `date_created` |   |   | x | x | x |   |   |

            '
          title: Filter[Attribute.Operation]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_ContactAttributes_Literal_CONTACT__'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
        API Token: []
      summary: Get Contacts
      tags:
      - Contact
    post:
      operationId: create_contact_contacts__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Request_ContactCreateAttributes_Literal_CONTACT__'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_ContactAttributes_Literal_CONTACT__'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
        API Token: []
      summary: Create Contact
      tags:
      - Contact
  /contacts/{id}/:
    get:
      operationId: get_contact_details_contacts__id___get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: uuid
          title: Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_ContactAttributes_Literal_CONTACT__'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
        API Token: []
      summary: Get Contact Details
      tags:
      - Contact
    patch:
      operationId: update_contact_contacts__id___patch
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: uuid
          title: Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Request_ContactUpdateAttributes_Literal_CONTACT__'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_ContactAttributes_Literal_CONTACT__'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
        API Token: []
      summary: Update Contact
      tags:
      - Contact
components:
  schemas:
    ContactUpdateAttributes:
      properties:
        address:
          anyOf:
          - maxLength: 255
            type: string
          - type: 'null'
          description: '**Address** · **Adresse**'
          title: Address
        city:
          anyOf:
          - maxLength: 255
            type: string
          - type: 'null'
          description: '**City** · **Stadt**'
          title: City
        date_created:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: '**Date created** · **Erstellt am**'
          title: Date Created
        description:
          anyOf:
          - type: string
          - type: 'null'
          description: '**Description** · **Beschreibung**'
          title: Description
        email:
          anyOf:
          - maxLength: 250
            type: string
          - type: 'null'
          description: '**Email** · **E-Mail**'
          title: Email
        first_name:
          anyOf:
          - maxLength: 250
            type: string
          - type: 'null'
          description: '**First name** · **Vorname**'
          title: First Name
        last_name:
          anyOf:
          - maxLength: 250
            type: string
          - type: 'null'
          description: '**Last name** · **Nachname**'
          title: Last Name
        name:
          anyOf:
          - maxLength: 250
            type: string
          - type: 'null'
          description: '**Contact name** · **Name**'
          title: Name
        phone_number:
          anyOf:
          - maxLength: 250
            type: string
          - type: 'null'
          description: '**Phone number** · **Telefonnummer**'
          title: Phone Number
        salutation:
          $ref: '#/components/schemas/ContactSalutation'
          default: NOT_SPECIFIED
          description: '**Salutation** · **Anrede**


            Available values / Verfügbare Werte:


            | Value | English | Deutsch |

            | --- | --- | --- |

            | `NOT_SPECIFIED` | -- | -- |

            | `MALE` | Male | Männlich |

            | `FEMALE` | Female | Weiblich |

            | `NON_BINARY` | Non-binary | Divers |

            | `FAMILY` | Family | Familie |'
          examples:
          - NOT_SPECIFIED
        title:
          anyOf:
          - $ref: '#/components/schemas/ContactTitle'
          - type: 'null'
          default: NO_TITLE
          description: '**Title** · **Titel**


            Available values / Verfügbare Werte:


            | Value | English | Deutsch |

            | --- | --- | --- |

            | `NO_TITLE` | -- | -- |

            | `DR` | Dr. | Dr. |

            | `PROF` | Prof. | Prof. |

            | `PROF_DR` | Prof. Dr. | Prof. Dr. |'
          examples:
          - NO_TITLE
        type:
          anyOf:
          - $ref: '#/components/schemas/ContactType'
          - type: 'null'
          description: '**Contact type** · **Kontakttyp**


            Available values / Verfügbare Werte:


            | Value | English | Deutsch |

            | --- | --- | --- |

            | `PRIVATE` | Private person | Privatperson |

            | `COMMERCIAL` | Company | Firma |'
          examples:
          - COMMERCIAL
        zip_code:
          anyOf:
          - maxLength: 12
            type: string
          - type: 'null'
          description: '**Zip code** · **Postleitzahl**'
          title: Zip Code
      title: ContactUpdateAttributes
      type: object
    ContactCreateAttributes:
      properties:
        address:
          anyOf:
          - maxLength: 255
            type: string
          - type: 'null'
          description: '**Address** · **Adresse**'
          title: Address
        city:
          anyOf:
          - maxLength: 255
            type: string
          - type: 'null'
          description: '**City** · **Stadt**'
          title: City
        date_created:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          description: '**Date created** · **Erstellt am**'
          title: Date Created
        description:
          anyOf:
          - type: string
          - type: 'null'
          description: '**Description** · **Beschreibung**'
          title: Description
        email:
          anyOf:
          - maxLength: 250
            type: string
          - type: 'null'
          description: '**Email** · **E-Mail**'
          title: Email
        first_name:
          description: '**First name** · **Vorname**'
          maxLength: 250
          title: First Name
          type: string
        last_name:
          description: '**Last name** · **Nachname**'
          maxLength: 250
          title: Last Name
          type: string
        name:
          anyOf:
          - maxLength: 250
            type: string
          - type: 'null'
          description: '**Contact name** · **Name**'
          title: Name
        phone_number:
          anyOf:
          - maxLength: 250
            type: string
          - type: 'null'
          description: '**Phone number** · **Telefonnummer**'
          title: Phone Number
        salutation:
          $ref: '#/components/schemas/ContactSalutation'
          default: NOT_SPECIFIED
          description: '**Salutation** · **Anrede**


            Available values / Verfügbare Werte:


            | Value | English | Deutsch |

            | --- | --- | --- |

            | `NOT_SPECIFIED` | -- | -- |

            | `MALE` | Male | Männlich |

            | `FEMALE` | Female | Weiblich |

            | `NON_BINARY` | Non-binary | Divers |

            | `FAMILY` | Family | Familie |'
          examples:
          - NOT_SPECIFIED
        title:
          anyOf:
          - $ref: '#/components/schemas/ContactTitle'
          - type: 'null'
          default: NO_TITLE
          description: '**Title** · **Titel**


            Available values / Verfügbare Werte:


            | Value | English | Deutsch |

            | --- | --- | --- |

            | `NO_TITLE` | -- | -- |

            | `DR` | Dr. | Dr. |

            | `PROF` | Prof. | Prof. |

            | `PROF_DR` | Prof. Dr. | Prof. Dr. |'
          examples:
          - NO_TITLE
        type:
          $ref: '#/components/schemas/ContactType'
          description: '**Contact type** · **Kontakttyp**


            Available values / Verfügbare Werte:


            | Value | English | Deutsch |

            | --- | --- | --- |

            | `PRIVATE` | Private person | Privatperson |

            | `COMMERCIAL` | Company | Firma |'
          examples:
          - COMMERCIAL
        zip_code:
          anyOf:
          - maxLength: 12
            type: string
          - type: 'null'
          description: '**Zip code** · **Postleitzahl**'
          title: Zip Code
      required:
      - first_name
      - last_name
      - type
      title: ContactCreateAttributes
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    Data_ContactAttributes_Literal_CONTACT__:
      properties:
        attributes:
          $ref: '#/components/schemas/ContactAttributes'
        id:
          format: uuid
          title: Id
          type: string
        relationships:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          description: '

            Contains links to related objects.

            '
          title: Relationships
        type:
          const: CONTACT
          title: Type
          type: string
      required:
      - id
      - type
      - attributes
      title: 'Data[ContactAttributes, Literal[<ResourceType.CONTACT: ''CONTACT''>]]'
      type: object
    Request_ContactCreateAttributes_Literal_CONTACT__:
      properties:
        data:
          $ref: '#/components/schemas/Payload_ContactCreateAttributes_Literal_CONTACT__'
      required:
      - data
      title: 'Request[ContactCreateAttributes, Literal[<ResourceType.CONTACT: ''CONTACT''>]]'
      type: object
    ListResponse_ContactAttributes_Literal_CONTACT__:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Data_ContactAttributes_Literal_CONTACT__'
          title: Data
          type: array
        errors:
          anyOf:
          - items:
              $ref: '#/components/schemas/Error'
            type: array
          - type: 'null'
          title: Errors
        included:
          anyOf:
          - items:
              $ref: '#/components/schemas/Data_ContactAttributes_Literal_CONTACT__'
            type: array
          - type: 'null'
          title: Included
        links:
          anyOf:
          - additionalProperties:
              anyOf:
              - type: string
              - type: 'null'
            type: object
          - type: 'null'
          description: '

            Contains the pagination''s next link if results don''t fit on one page.

            '
          title: Links
      required:
      - data
      title: 'ListResponse[ContactAttributes, Literal[<ResourceType.CONTACT: ''CONTACT''>]]'
      type: object
    Request_ContactUpdateAttributes_Literal_CONTACT__:
      properties:
        data:
          $ref: '#/components/schemas/Payload_ContactUpdateAttributes_Literal_CONTACT__'
      required:
      - data
      title: 'Request[ContactUpdateAttributes, Literal[<ResourceType.CONTACT: ''CONTACT''>]]'
      type: object
    Error:
      properties:
        detail:
          anyOf:
          - type: string
          - type: 'null'
          title: Detail
        source:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Source
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
      title: Error
      type: object
    Payload_ContactUpdateAttributes_Literal_CONTACT__:
      properties:
        attributes:
          $ref: '#/components/schemas/ContactUpdateAttributes'
        type:
          const: CONTACT
          title: Type
          type: string
      required:
      - type
      - attributes
      title: 'Payload[ContactUpdateAttributes, Literal[<ResourceType.CONTACT: ''CONTACT''>]]'
      type: object
    Payload_ContactCreateAttributes_Literal_CONTACT__:
      properties:
        attributes:
          $ref: '#/components/schemas/ContactCreateAttributes'
        type:
          const: CONTACT
          title: Type
          type: string
      required:
      - type
      - attributes
      title: 'Payload[ContactCreateAttributes, Literal[<ResourceType.CONTACT: ''CONTACT''>]]'
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    Response_ContactAttributes_Literal_CONTACT__:
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/Data_ContactAttributes_Literal_CONTACT__'
          - type: 'null'
        errors:
          anyOf:
          - items:
              $ref: '#/components/schemas/Error'
            type: array
          - type: 'null'
          title: Errors
        included:
          anyOf:
          - items:
              $ref: '#/components/schemas/Data_ContactAttributes_Literal_CONTACT__'
            type: array
          - type: 'null'
          title: Included
        links:
          anyOf:
          - additionalProperties:
              anyOf:
              - type: string
              - type: 'null'
            type: object
          - type: 'null'
          title: Links
      title: 'Response[ContactAttributes, Literal[<ResourceType.CONTACT: ''CONTACT''>]]'
      type: object
    ContactSalutation:
      enum:
      - NOT_SPECIFIED
      - MALE
      - FEMALE
      - NON_BINARY
      - FAMILY
      title: ContactSalutation
      type: string
    ContactType:
      enum:
      - PRIVATE
      - COMMERCIAL
      title: ContactType
      type: string
    ContactAttributes:
      properties:
        address:
          description: '**Address** · **Adresse**'
          maxLength: 255
          title: Address
          type: string
        city:
          description: '**City** · **Stadt**'
          maxLength: 255
          title: City
          type: string
        date_created:
          description: '**Date created** · **Erstellt am**'
          format: date-time
          title: Date Created
          type: string
        description:
          description: '**Description** · **Beschreibung**'
          title: Description
          type: string
        email:
          description: '**Email** · **E-Mail**'
          maxLength: 250
          title: Email
          type: string
        first_name:
          description: '**First name** · **Vorname**'
          maxLength: 250
          title: First Name
          type: string
        last_name:
          description: '**Last name** · **Nachname**'
          maxLength: 250
          title: Last Name
          type: string
        name:
          description: '**Contact name** · **Name**'
          maxLength: 250
          title: Name
          type: string
        phone_number:
          description: '**Phone number** · **Telefonnummer**'
          maxLength: 250
          title: Phone Number
          type: string
        salutation:
          $ref: '#/components/schemas/ContactSalutation'
          description: '**Salutation** · **Anrede**


            Available values / Verfügbare Werte:


            | Value | English | Deutsch |

            | --- | --- | --- |

            | `NOT_SPECIFIED` | -- | -- |

            | `MALE` | Male | Männlich |

            | `FEMALE` | Female | Weiblich |

            | `NON_BINARY` | Non-binary | Divers |

            | `FAMILY` | Family | Familie |'
          examples:
          - NOT_SPECIFIED
        title:
          $ref: '#/components/schemas/ContactTitle'
          description: '**Title** · **Titel**


            Available values / Verfügbare Werte:


            | Value | English | Deutsch |

            | --- | --- | --- |

            | `NO_TITLE` | -- | -- |

            | `DR` | Dr. | Dr. |

            | `PROF` | Prof. | Prof. |

            | `PROF_DR` | Prof. Dr. | Prof. Dr. |'
          examples:
          - NO_TITLE
        type:
          $ref: '#/components/schemas/ContactType'
          description: '**Contact type** · **Kontakttyp**


            Available values / Verfügbare Werte:


            | Value | English | Deutsch |

            | --- | --- | --- |

            | `PRIVATE` | Private person | Privatperson |

            | `COMMERCIAL` | Company | Firma |'
          examples:
          - COMMERCIAL
        zip_code:
          description: '**Zip code** · **Postleitzahl**'
          maxLength: 12
          title: Zip Code
          type: string
      required:
      - first_name
      - last_name
      - type
      - name
      - salutation
      - title
      - address
      - zip_code
      - city
      - phone_number
      - email
      - description
      - date_created
      title: ContactAttributes
      type: object
    ContactTitle:
      enum:
      - NO_TITLE
      - DR
      - PROF
      - PROF_DR
      title: ContactTitle
      type: string
  securitySchemes:
    API Key:
      description: '

        The Alasco API uses a combination of API keys and API tokens to authenticate requests. The API key

        needs to be sent in a header field called `X-API-KEY`.

        '
      in: header
      name: X-API-KEY
      type: apiKey
    API Token:
      description: '

        In addition to an API key, one has to specify an API token. There can be one or more tokens in use

        for the same API key. The token needs to be sent in a header field called `X-API-TOKEN`.

        Right now, it''s not possible to create API keys and API tokens from within Alasco.

        If you are interested in using the Alasco API, please reach out to the

        [support team](mailto:support@alasco.de). They will assist you in generating a key and token pair.

        '
      in: header
      name: X-API-TOKEN
      type: apiKey
