openapi: 3.2.0
info:
  description: '## Introduction


    You can use the Alasco API to integrate your application with Alasco.'
  title: FinCon Cash Outflow Cost Element View API
  version: '1.0'
  x-logo:
    url: https://assets-global.website-files.com/656ef2eb27ad41897248f866/659eebec190ae7aaf4162f09_Logotype_Alasco_white_RGB%202.png
servers:
- url: https://api.alasco.de/fincon/v1
tags:
- description: Read-only reporting view of actual cash outflows (paid invoices) allocated per **Cost Element**.
  name: Cash Outflow Cost Element View
paths:
  /reporting/cash_outflow/cost_elements/:
    get:
      description: (BETA!) This endpoint is in a testing phase and the response payload may change. Returns cash outflow nodes for a single project in a cost element view.
      operationId: get_cash_outflow_cost_element_view_reporting_cash_outflow_cost_elements__get
      parameters:
      - description: '

          List endpoint responses are paginated in the Alasco API. By calling the endpoint without the

          pagination parameter you will receive the first page. If not all elements fit on one page there will

          be a `next` link provided in the response''s `links` object. By calling this link you will receive

          the next page.

          '
        in: query
        name: cursor[position]
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: '

            List endpoint responses are paginated in the Alasco API. By calling the endpoint without the

            pagination parameter you will receive the first page. If not all elements fit on one page there will

            be a `next` link provided in the response''s `links` object. By calling this link you will receive

            the next page.

            '
          title: Cursor[Position]
      - description: '

          You can filter on certain attributes by specifying them as a GET parameter along

          with an operation, e.g. `filter[name.exact]=abc`.


          Currently supported operations are:

          * `exact`: Expects one value


          The following attributes support filtering:


          | **Attribute** | `exact` |

          | :--- | :---: |

          | `project` | x |

          '
        in: query
        name: filter[attribute.operation]
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: '

            You can filter on certain attributes by specifying them as a GET parameter along

            with an operation, e.g. `filter[name.exact]=abc`.


            Currently supported operations are:

            * `exact`: Expects one value


            The following attributes support filtering:


            | **Attribute** | `exact` |

            | :--- | :---: |

            | `project` | x |

            '
          title: Filter[Attribute.Operation]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_CashOutflowNodeAttributes_Literal_CASH_OUTFLOW_NODE__'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
        API Token: []
      summary: Get Cash Outflow Cost Element View
      tags:
      - Cash Outflow Cost Element View
components:
  schemas:
    CashOutflowNodeAttributes:
      properties:
        amounts:
          anyOf:
          - items:
              $ref: '#/components/schemas/MonthlyAmount'
            type: array
          - type: 'null'
          description: '**Monthly amounts** · **Monatliche Beträge**


            Monthly amounts for leaf nodes; omitted for parent nodes.


            Monatliche Beträge für Blattknoten; bei übergeordneten Knoten ausgelassen.'
          title: Amounts
        children:
          description: '**Child node IDs** · **IDs der untergeordneten Knoten**'
          items:
            format: uuid
            type: string
          title: Children
          type: array
        contract:
          anyOf:
          - format: uuid
            type: string
          - type: 'null'
          description: '**Contract ID** · **Auftrags-ID**'
          title: Contract
        contract_unit:
          anyOf:
          - format: uuid
            type: string
          - type: 'null'
          description: '**Contract unit ID** · **Vergabeeinheit-ID**'
          title: Contract Unit
        cost_element:
          anyOf:
          - format: uuid
            type: string
          - type: 'null'
          description: '**Cost element ID** · **Kostengruppen-ID**'
          title: Cost Element
        cost_element_tree_template:
          anyOf:
          - format: uuid
            type: string
          - type: 'null'
          description: '**Cost element tree template ID** · **Kostengruppenvorlagen-ID**'
          title: Cost Element Tree Template
        financing_contract:
          anyOf:
          - format: uuid
            type: string
          - type: 'null'
          description: '**Financing contract ID** · **Finanzierungsauftrag-ID**'
          title: Financing Contract
        label:
          description: '**Label** · **Bezeichnung**'
          title: Label
          type: string
        node_type:
          $ref: '#/components/schemas/CashOutflowNodeType'
          description: '**Node type** · **Knotentyp**'
        project:
          description: '**Project ID** · **Projekt-ID**'
          format: uuid
          title: Project
          type: string
        start_amount:
          description: '**Start amount** · **Startbetrag**'
          properties:
            currency:
              description: '**Currency code** · **Währungscode**'
              example: EUR
              title: Currency code
              type: string
            net:
              description: '**Net amount** · **Nettobetrag**'
              example: '123.123456789012'
              title: Net amount
              type: string
            tax:
              description: '**Tax amount** · **Steuerbetrag**'
              example: '123.123456789012'
              title: Tax amount
              type: string
          title: Start Amount
          type: object
        total_amount:
          description: '**Total amount** · **Gesamtbetrag**'
          properties:
            currency:
              description: '**Currency code** · **Währungscode**'
              example: EUR
              title: Currency code
              type: string
            net:
              description: '**Net amount** · **Nettobetrag**'
              example: '123.123456789012'
              title: Net amount
              type: string
            tax:
              description: '**Tax amount** · **Steuerbetrag**'
              example: '123.123456789012'
              title: Tax amount
              type: string
          title: Total Amount
          type: object
      required:
      - node_type
      - label
      - start_amount
      - total_amount
      - children
      - project
      title: CashOutflowNodeAttributes
      type: object
    CashOutflowNodeType:
      enum:
      - COST_ELEMENT
      - CONTRACT_UNIT
      - CONTRACT
      - FINANCING_CONTRACT_UNIT
      - FINANCING_CONTRACT
      - UNASSIGNED
      - UNLINKED_CONTRACT_UNITS_PARENT
      - UNDISTRIBUTED_COST_ELEMENT_BUDGET
      title: CashOutflowNodeType
      type: string
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    Data_CashOutflowNodeAttributes_Literal_CASH_OUTFLOW_NODE__:
      properties:
        attributes:
          $ref: '#/components/schemas/CashOutflowNodeAttributes'
        id:
          format: uuid
          title: Id
          type: string
        relationships:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          description: '

            Contains links to related objects.

            '
          title: Relationships
        type:
          const: CASH_OUTFLOW_NODE
          title: Type
          type: string
      required:
      - id
      - type
      - attributes
      title: 'Data[CashOutflowNodeAttributes, Literal[<ResourceType.CASH_OUTFLOW_NODE: ''CASH_OUTFLOW_NODE''>]]'
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    Error:
      properties:
        detail:
          anyOf:
          - type: string
          - type: 'null'
          title: Detail
        source:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Source
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
      title: Error
      type: object
    ListResponse_CashOutflowNodeAttributes_Literal_CASH_OUTFLOW_NODE__:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Data_CashOutflowNodeAttributes_Literal_CASH_OUTFLOW_NODE__'
          title: Data
          type: array
        errors:
          anyOf:
          - items:
              $ref: '#/components/schemas/Error'
            type: array
          - type: 'null'
          title: Errors
        included:
          anyOf:
          - items:
              $ref: '#/components/schemas/Data_CashOutflowNodeAttributes_Literal_CASH_OUTFLOW_NODE__'
            type: array
          - type: 'null'
          title: Included
        links:
          anyOf:
          - additionalProperties:
              anyOf:
              - type: string
              - type: 'null'
            type: object
          - type: 'null'
          description: '

            Contains the pagination''s next link if results don''t fit on one page.

            '
          title: Links
      required:
      - data
      title: 'ListResponse[CashOutflowNodeAttributes, Literal[<ResourceType.CASH_OUTFLOW_NODE: ''CASH_OUTFLOW_NODE''>]]'
      type: object
    MonthlyAmount:
      properties:
        amount:
          description: '**Monthly amount** · **Monatsbetrag**'
          properties:
            currency:
              description: '**Currency code** · **Währungscode**'
              example: EUR
              title: Currency code
              type: string
            net:
              description: '**Net amount** · **Nettobetrag**'
              example: '123.123456789012'
              title: Net amount
              type: string
            tax:
              description: '**Tax amount** · **Steuerbetrag**'
              example: '123.123456789012'
              title: Tax amount
              type: string
          title: Amount
          type: object
        month:
          description: '**Month** · **Monat**


            Month in YYYY-MM format.


            Monat im Format JJJJ-MM.'
          title: Month
          type: string
        type:
          description: '**Amount type** · **Betragsart**


            Whether the value is actual or planned.


            Gibt an, ob der Wert tatsächlich (actual) oder geplant (planned) ist.'
          enum:
          - ACTUAL
          - PLANNED
          title: Type
          type: string
      required:
      - month
      - amount
      - type
      title: MonthlyAmount
      type: object
  securitySchemes:
    API_Key:
      description: '

        The Alasco API uses a combination of API keys and API tokens to authenticate requests. The API key

        needs to be sent in a header field called `X-API-KEY`.

        '
      in: header
      name: X-API-KEY
      type: apiKey
    API_Token:
      description: '

        In addition to an API key, one has to specify an API token. There can be one or more tokens in use

        for the same API key. The token needs to be sent in a header field called `X-API-TOKEN`.

        Right now, it''s not possible to create API keys and API tokens from within Alasco.

        If you are interested in using the Alasco API, please reach out to the

        [support team](mailto:support@alasco.de). They will assist you in generating a key and token pair.

        '
      in: header
      name: X-API-TOKEN
      type: apiKey
x-tagGroups:
- name: Core API
  tags:
  - Change Order
  - Change Order Document
  - Contact
  - Contract
  - Contract Document
  - Contract Unit
  - Contracting Entity
  - Contractor
  - Cost Element
  - Cost Element Tree Template
  - Custom Field
  - Custom Field Definition
  - Budget Shift
  - Invoice
  - Invoice Document
  - Invoice Tag
  - Project
  - Property
- name: Reporting API
  tags:
  - Contract Financials
  - Contract Unit Financials
  - Cash Outflow Cost Element View
  - Cost Element Financials
  - Cost Element Contract Financials
  - Cost Element Contract Unit Financials
  - Project Financials
  - Outright Sale
  - Rent Unit
  - Sales Unit
