openapi: 3.1.0
info:
  description: '

    ## Introduction


    The **CAPEX API** enables you to integrate your application with the CAPEX system. The CAPEX API is REST-based and follows JSON:API principles for structuring responses.


    Starting from version 1.0, the API is stable. We are continuously improving our API, and new endpoints will be added. Any updates or changes within this major version will be backward-compatible and can be found in this documentation.


    For getting access to the CAPEX API, please reach out to us at: `kontakt@alasco.de`.


    The base URL for all endpoints is:

    `https://api.alasco.de/capex/v1`


    The CAPEX API supports compressed payloads. If you would like to make use of this, you have to specify the `Accept-Encoding` header. Supported encodings are `gzip` and `br`.


    ### Domain model


    Objects relate as follows (each `→` is a navigable sub-resource):


    - **Assets** and **Measures** are the CapEx-specific top-level objects; a **Measure** → **Contracts**, and invoices are submitted against an **Asset**.

    - **Contractor** and **Contracting Entity** → **Contracts**.

    - **Contract** → **Change Orders**, **Invoices**, contract terms, **Documents** and **Custom Fields**.

    - **Invoice** → **Documents** and **Tags** (Change Orders also carry **Documents**).


    ### CAPEX API Overview


    The CAPEX API provides endpoints to:

    - Retrieve and manage invoices, invoice tags, and invoice documents

    - Retrieve assets, contracts, contractors, and measures


    The CAPEX API uses pagination. The page size is 100, and additional pages can be accessed using a `next` link.

    '
  title: CAPEX Annual Consumption Custom Field Definition API
  version: '1.0'
  x-logo:
    url: https://assets-global.website-files.com/656ef2eb27ad41897248f866/659eebec190ae7aaf4162f09_Logotype_Alasco_white_RGB%202.png
servers:
- url: https://api.alasco.de/capex/v1
tags:
- description: A **Custom Field Definition** describes a custom field - its name, type and which object it applies to (contract or project). Definitions are configured in Alasco and are read-only through this API.
  name: Custom Field Definition
paths:
  /custom_field_definitions/:
    get:
      operationId: get_custom_field_definitions_custom_field_definitions__get
      parameters:
      - description: '

          List endpoint responses are paginated in the Alasco API. By calling the endpoint without the

          pagination parameter you will receive the first page. If not all elements fit on one page there will

          be a `next` link provided in the response''s `links` object. By calling this link you will receive

          the next page.

          '
        in: query
        name: cursor[position]
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: '

            List endpoint responses are paginated in the Alasco API. By calling the endpoint without the

            pagination parameter you will receive the first page. If not all elements fit on one page there will

            be a `next` link provided in the response''s `links` object. By calling this link you will receive

            the next page.

            '
          title: Cursor[Position]
      - description: '

          You can filter on certain attributes by specifying them as a GET parameter along

          with an operation, e.g. `filter[name.exact]=abc`.


          Currently supported operations are:

          * `exact`: Expects one value

          * `contains`: Expects one value

          * `in`: Expects one or multiple values

          * `not_in`: Expects one or multiple values


          The following attributes support filtering:


          | **Attribute** | `exact` | `contains` | `in` | `not_in` |

          | :--- | :---: | :---: | :---: | :---: |

          | `id` |   |   | x | x |

          | `name` | x | x |   |   |

          | `description` | x | x |   |   |

          | `export_name` | x | x |   |   |

          | `field_type` |   |   | x | x |

          | `unit` |   |   | x | x |

          | `object_type` |   |   | x | x |

          '
        in: query
        name: filter[attribute.operation]
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: '

            You can filter on certain attributes by specifying them as a GET parameter along

            with an operation, e.g. `filter[name.exact]=abc`.


            Currently supported operations are:

            * `exact`: Expects one value

            * `contains`: Expects one value

            * `in`: Expects one or multiple values

            * `not_in`: Expects one or multiple values


            The following attributes support filtering:


            | **Attribute** | `exact` | `contains` | `in` | `not_in` |

            | :--- | :---: | :---: | :---: | :---: |

            | `id` |   |   | x | x |

            | `name` | x | x |   |   |

            | `description` | x | x |   |   |

            | `export_name` | x | x |   |   |

            | `field_type` |   |   | x | x |

            | `unit` |   |   | x | x |

            | `object_type` |   |   | x | x |

            '
          title: Filter[Attribute.Operation]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_CustomFieldDefinitionAttributes_Literal_CUSTOM_FIELD_DEFINITION__'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
        API Token: []
      summary: Get Custom Field Definitions
      tags:
      - Custom Field Definition
  /custom_field_definitions/{id}/:
    get:
      operationId: get_custom_field_definition_details_custom_field_definitions__id___get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: uuid
          title: Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_CustomFieldDefinitionAttributes_Literal_CUSTOM_FIELD_DEFINITION__'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
        API Token: []
      summary: Get Custom Field Definition Details
      tags:
      - Custom Field Definition
components:
  schemas:
    alasco__public_api__fincon__web__v1__schemas__custom_field_definition__CustomFieldType:
      enum:
      - TEXT
      - INTEGER
      - DECIMAL
      - DATE
      - MONEY
      - SELECT
      - MULTISELECT
      - BOOLEAN
      title: CustomFieldType
      type: string
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    CustomFieldObjectType:
      enum:
      - CONTRACT
      - PROJECT
      title: CustomFieldObjectType
      type: string
    Error:
      properties:
        detail:
          anyOf:
          - type: string
          - type: 'null'
          title: Detail
        source:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Source
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
      title: Error
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    Data_CustomFieldDefinitionAttributes_Literal_CUSTOM_FIELD_DEFINITION__:
      properties:
        attributes:
          $ref: '#/components/schemas/CustomFieldDefinitionAttributes'
        id:
          format: uuid
          title: Id
          type: string
        relationships:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          description: '

            Contains links to related objects.

            '
          title: Relationships
        type:
          const: CUSTOM_FIELD_DEFINITION
          title: Type
          type: string
      required:
      - id
      - type
      - attributes
      title: 'Data[CustomFieldDefinitionAttributes, Literal[<ResourceType.CUSTOM_FIELD_DEFINITION: ''CUSTOM_FIELD_DEFINITION''>]]'
      type: object
    Response_CustomFieldDefinitionAttributes_Literal_CUSTOM_FIELD_DEFINITION__:
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/Data_CustomFieldDefinitionAttributes_Literal_CUSTOM_FIELD_DEFINITION__'
          - type: 'null'
        errors:
          anyOf:
          - items:
              $ref: '#/components/schemas/Error'
            type: array
          - type: 'null'
          title: Errors
        included:
          anyOf:
          - items:
              $ref: '#/components/schemas/Data_CustomFieldDefinitionAttributes_Literal_CUSTOM_FIELD_DEFINITION__'
            type: array
          - type: 'null'
          title: Included
        links:
          anyOf:
          - additionalProperties:
              anyOf:
              - type: string
              - type: 'null'
            type: object
          - type: 'null'
          title: Links
      title: 'Response[CustomFieldDefinitionAttributes, Literal[<ResourceType.CUSTOM_FIELD_DEFINITION: ''CUSTOM_FIELD_DEFINITION''>]]'
      type: object
    CustomFieldDefinitionAttributes:
      properties:
        description:
          description: '**Description** · **Beschreibung**'
          title: Description
          type: string
        export_name:
          description: '**Export name** · **Exportname**'
          title: Export Name
          type: string
        field_type:
          $ref: '#/components/schemas/alasco__public_api__fincon__web__v1__schemas__custom_field_definition__CustomFieldType'
          description: '**Field type** · **Typ**'
          examples:
          - INTEGER
        name:
          description: '**Name** · **Name**'
          title: Name
          type: string
        object_type:
          $ref: '#/components/schemas/CustomFieldObjectType'
          description: '**Object type** · **Objekttyp**


            Available values / Verfügbare Werte:


            | Value | English | Deutsch |

            | --- | --- | --- |

            | `CONTRACT` | Contract | Auftrag |

            | `PROJECT` | Project | Projekt |'
          examples:
          - CONTRACT
        unit:
          $ref: '#/components/schemas/CustomFieldUnit'
          description: '**Unit** · **Einheit**'
          examples:
          - NO_UNIT
      required:
      - name
      - export_name
      - field_type
      - unit
      - description
      - object_type
      title: CustomFieldDefinitionAttributes
      type: object
    CustomFieldUnit:
      enum:
      - NO_UNIT
      - CURRENCY
      - LENGTH
      - AREA
      - VOLUME
      - PERCENT
      title: CustomFieldUnit
      type: string
    ListResponse_CustomFieldDefinitionAttributes_Literal_CUSTOM_FIELD_DEFINITION__:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Data_CustomFieldDefinitionAttributes_Literal_CUSTOM_FIELD_DEFINITION__'
          title: Data
          type: array
        errors:
          anyOf:
          - items:
              $ref: '#/components/schemas/Error'
            type: array
          - type: 'null'
          title: Errors
        included:
          anyOf:
          - items:
              $ref: '#/components/schemas/Data_CustomFieldDefinitionAttributes_Literal_CUSTOM_FIELD_DEFINITION__'
            type: array
          - type: 'null'
          title: Included
        links:
          anyOf:
          - additionalProperties:
              anyOf:
              - type: string
              - type: 'null'
            type: object
          - type: 'null'
          description: '

            Contains the pagination''s next link if results don''t fit on one page.

            '
          title: Links
      required:
      - data
      title: 'ListResponse[CustomFieldDefinitionAttributes, Literal[<ResourceType.CUSTOM_FIELD_DEFINITION: ''CUSTOM_FIELD_DEFINITION''>]]'
      type: object
  securitySchemes:
    API Key:
      description: '

        The Alasco API uses a combination of API keys and API tokens to authenticate requests. The API key

        needs to be sent in a header field called `X-API-KEY`.

        '
      in: header
      name: X-API-KEY
      type: apiKey
    API Token:
      description: '

        In addition to an API key, one has to specify an API token. There can be one or more tokens in use

        for the same API key. The token needs to be sent in a header field called `X-API-TOKEN`.

        Right now, it''s not possible to create API keys and API tokens from within Alasco.

        If you are interested in using the Alasco API, please reach out to the

        [support team](mailto:support@alasco.de). They will assist you in generating a key and token pair.

        '
      in: header
      name: X-API-TOKEN
      type: apiKey
