openapi: 3.1.0
info:
  description: '

    ## Introduction


    The **CAPEX API** enables you to integrate your application with the CAPEX system. The CAPEX API is REST-based and follows JSON:API principles for structuring responses.


    Starting from version 1.0, the API is stable. We are continuously improving our API, and new endpoints will be added. Any updates or changes within this major version will be backward-compatible and can be found in this documentation.


    For getting access to the CAPEX API, please reach out to us at: `kontakt@alasco.de`.


    The base URL for all endpoints is:

    `https://api.alasco.de/capex/v1`


    The CAPEX API supports compressed payloads. If you would like to make use of this, you have to specify the `Accept-Encoding` header. Supported encodings are `gzip` and `br`.


    ### Domain model


    Objects relate as follows (each `→` is a navigable sub-resource):


    - **Assets** and **Measures** are the CapEx-specific top-level objects; a **Measure** → **Contracts**, and invoices are submitted against an **Asset**.

    - **Contractor** and **Contracting Entity** → **Contracts**.

    - **Contract** → **Change Orders**, **Invoices**, contract terms, **Documents** and **Custom Fields**.

    - **Invoice** → **Documents** and **Tags** (Change Orders also carry **Documents**).


    ### CAPEX API Overview


    The CAPEX API provides endpoints to:

    - Retrieve and manage invoices, invoice tags, and invoice documents

    - Retrieve assets, contracts, contractors, and measures


    The CAPEX API uses pagination. The page size is 100, and additional pages can be accessed using a `next` link.

    '
  title: CAPEX Annual Consumption Property API
  version: '1.0'
  x-logo:
    url: https://assets-global.website-files.com/656ef2eb27ad41897248f866/659eebec190ae7aaf4162f09_Logotype_Alasco_white_RGB%202.png
servers:
- url: https://api.alasco.de/capex/v1
tags:
- description: A **Property** is the real-estate asset a **Project** is carried out on, holding its address and location. A project references one property, and the same property can back several projects. Properties can be created and updated through the API.
  name: Property
paths:
  /properties/:
    get:
      operationId: get_properties_properties__get
      parameters:
      - description: '

          List endpoint responses are paginated in the Alasco API. By calling the endpoint without the

          pagination parameter you will receive the first page. If not all elements fit on one page there will

          be a `next` link provided in the response''s `links` object. By calling this link you will receive

          the next page.

          '
        in: query
        name: cursor[position]
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: '

            List endpoint responses are paginated in the Alasco API. By calling the endpoint without the

            pagination parameter you will receive the first page. If not all elements fit on one page there will

            be a `next` link provided in the response''s `links` object. By calling this link you will receive

            the next page.

            '
          title: Cursor[Position]
      - description: '

          You can filter on certain attributes by specifying them as a GET parameter along

          with an operation, e.g. `filter[name.exact]=abc`.


          Currently supported operations are:

          * `exact`: Expects one value

          * `contains`: Expects one value

          * `less_than_equal`: Expects one value

          * `greater_than_equal`: Expects one value

          * `range`: Expects two values

          * `in`: Expects one or multiple values

          * `not_in`: Expects one or multiple values


          The following attributes support filtering:


          | **Attribute** | `exact` | `contains` | `less_than_equal` | `greater_than_equal` | `range` | `in` | `not_in` |

          | :--- | :---: | :---: | :---: | :---: | :---: | :---: | :---: |

          | `id` |   |   |   |   |   | x | x |

          | `name` | x | x |   |   |   |   |   |

          | `description` | x | x |   |   |   |   |   |

          | `address` | x | x |   |   |   |   |   |

          | `zip_code` | x | x |   |   |   |   |   |

          | `city` | x | x |   |   |   |   |   |

          | `country` |   |   |   |   |   | x | x |

          | `date_created` |   |   | x | x | x |   |   |

          '
        in: query
        name: filter[attribute.operation]
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: '

            You can filter on certain attributes by specifying them as a GET parameter along

            with an operation, e.g. `filter[name.exact]=abc`.


            Currently supported operations are:

            * `exact`: Expects one value

            * `contains`: Expects one value

            * `less_than_equal`: Expects one value

            * `greater_than_equal`: Expects one value

            * `range`: Expects two values

            * `in`: Expects one or multiple values

            * `not_in`: Expects one or multiple values


            The following attributes support filtering:


            | **Attribute** | `exact` | `contains` | `less_than_equal` | `greater_than_equal` | `range` | `in` | `not_in` |

            | :--- | :---: | :---: | :---: | :---: | :---: | :---: | :---: |

            | `id` |   |   |   |   |   | x | x |

            | `name` | x | x |   |   |   |   |   |

            | `description` | x | x |   |   |   |   |   |

            | `address` | x | x |   |   |   |   |   |

            | `zip_code` | x | x |   |   |   |   |   |

            | `city` | x | x |   |   |   |   |   |

            | `country` |   |   |   |   |   | x | x |

            | `date_created` |   |   | x | x | x |   |   |

            '
          title: Filter[Attribute.Operation]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_PropertyAttributes_Literal_PROPERTY__'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
        API Token: []
      summary: Get Properties
      tags:
      - Property
    post:
      operationId: create_property_properties__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Request_PropertyCreateAttributes_Literal_PROPERTY__'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_PropertyAttributes_Literal_PROPERTY__'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
        API Token: []
      summary: Create Property
      tags:
      - Property
  /properties/{id}/:
    get:
      operationId: get_property_details_properties__id___get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: uuid
          title: Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_PropertyAttributes_Literal_PROPERTY__'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
        API Token: []
      summary: Get Property Details
      tags:
      - Property
    patch:
      operationId: update_property_properties__id___patch
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: uuid
          title: Id
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Request_PropertyUpdateAttributes_Literal_PROPERTY__'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_PropertyAttributes_Literal_PROPERTY__'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
        API Token: []
      summary: Update Property
      tags:
      - Property
components:
  schemas:
    PropertyUpdateAttributes:
      properties:
        address:
          anyOf:
          - maxLength: 255
            type: string
          - type: 'null'
          description: '**Address** · **Adresse**'
          title: Address
        city:
          anyOf:
          - maxLength: 255
            type: string
          - type: 'null'
          description: '**City** · **Stadt**'
          title: City
        country:
          anyOf:
          - $ref: '#/components/schemas/CountryCodes'
          - type: 'null'
          description: '**Country** · **Land**'
          examples:
          - DE
        description:
          anyOf:
          - type: string
          - type: 'null'
          description: '**Property description** · **Beschreibung**'
          title: Description
        name:
          anyOf:
          - maxLength: 250
            type: string
          - type: 'null'
          description: '**Property name** · **Immobilienname**'
          title: Name
        zip_code:
          anyOf:
          - maxLength: 12
            type: string
          - type: 'null'
          description: '**Zip code** · **Postleitzahl**'
          title: Zip Code
      title: PropertyUpdateAttributes
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    Payload_PropertyUpdateAttributes_Literal_PROPERTY__:
      properties:
        attributes:
          $ref: '#/components/schemas/PropertyUpdateAttributes'
        type:
          const: PROPERTY
          title: Type
          type: string
      required:
      - type
      - attributes
      title: 'Payload[PropertyUpdateAttributes, Literal[<ResourceType.PROPERTY: ''PROPERTY''>]]'
      type: object
    PropertyCreateAttributes:
      properties:
        address:
          anyOf:
          - maxLength: 255
            type: string
          - type: 'null'
          description: '**Address** · **Adresse**'
          title: Address
        city:
          anyOf:
          - maxLength: 255
            type: string
          - type: 'null'
          description: '**City** · **Stadt**'
          title: City
        country:
          anyOf:
          - $ref: '#/components/schemas/CountryCodes'
          - type: 'null'
          description: '**Country** · **Land**'
          examples:
          - DE
        description:
          anyOf:
          - type: string
          - type: 'null'
          description: '**Property description** · **Beschreibung**'
          title: Description
        name:
          description: '**Property name** · **Immobilienname**'
          maxLength: 250
          title: Name
          type: string
        zip_code:
          anyOf:
          - maxLength: 12
            type: string
          - type: 'null'
          description: '**Zip code** · **Postleitzahl**'
          title: Zip Code
      required:
      - name
      title: PropertyCreateAttributes
      type: object
    CountryCodes:
      enum:
      - AM
      - AT
      - BE
      - BG
      - CH
      - CY
      - CZ
      - DE
      - DK
      - EE
      - ES
      - FI
      - FR
      - GB
      - GE
      - GR
      - HR
      - HU
      - IE
      - IT
      - KZ
      - LT
      - LU
      - LV
      - MT
      - MX
      - NL
      - 'NO'
      - PL
      - PT
      - RO
      - RS
      - US
      - UY
      - SA
      - SE
      - SI
      - SK
      - TR
      title: CountryCodes
      type: string
    Payload_PropertyCreateAttributes_Literal_PROPERTY__:
      properties:
        attributes:
          $ref: '#/components/schemas/PropertyCreateAttributes'
        type:
          const: PROPERTY
          title: Type
          type: string
      required:
      - type
      - attributes
      title: 'Payload[PropertyCreateAttributes, Literal[<ResourceType.PROPERTY: ''PROPERTY''>]]'
      type: object
    Error:
      properties:
        detail:
          anyOf:
          - type: string
          - type: 'null'
          title: Detail
        source:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Source
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
      title: Error
      type: object
    Request_PropertyCreateAttributes_Literal_PROPERTY__:
      properties:
        data:
          $ref: '#/components/schemas/Payload_PropertyCreateAttributes_Literal_PROPERTY__'
      required:
      - data
      title: 'Request[PropertyCreateAttributes, Literal[<ResourceType.PROPERTY: ''PROPERTY''>]]'
      type: object
    Data_PropertyAttributes_Literal_PROPERTY__:
      properties:
        attributes:
          $ref: '#/components/schemas/PropertyAttributes'
        id:
          format: uuid
          title: Id
          type: string
        relationships:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          description: '

            Contains links to related objects.

            '
          title: Relationships
        type:
          const: PROPERTY
          title: Type
          type: string
      required:
      - id
      - type
      - attributes
      title: 'Data[PropertyAttributes, Literal[<ResourceType.PROPERTY: ''PROPERTY''>]]'
      type: object
    ListResponse_PropertyAttributes_Literal_PROPERTY__:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Data_PropertyAttributes_Literal_PROPERTY__'
          title: Data
          type: array
        errors:
          anyOf:
          - items:
              $ref: '#/components/schemas/Error'
            type: array
          - type: 'null'
          title: Errors
        included:
          anyOf:
          - items:
              $ref: '#/components/schemas/Data_PropertyAttributes_Literal_PROPERTY__'
            type: array
          - type: 'null'
          title: Included
        links:
          anyOf:
          - additionalProperties:
              anyOf:
              - type: string
              - type: 'null'
            type: object
          - type: 'null'
          description: '

            Contains the pagination''s next link if results don''t fit on one page.

            '
          title: Links
      required:
      - data
      title: 'ListResponse[PropertyAttributes, Literal[<ResourceType.PROPERTY: ''PROPERTY''>]]'
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    Request_PropertyUpdateAttributes_Literal_PROPERTY__:
      properties:
        data:
          $ref: '#/components/schemas/Payload_PropertyUpdateAttributes_Literal_PROPERTY__'
      required:
      - data
      title: 'Request[PropertyUpdateAttributes, Literal[<ResourceType.PROPERTY: ''PROPERTY''>]]'
      type: object
    Response_PropertyAttributes_Literal_PROPERTY__:
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/Data_PropertyAttributes_Literal_PROPERTY__'
          - type: 'null'
        errors:
          anyOf:
          - items:
              $ref: '#/components/schemas/Error'
            type: array
          - type: 'null'
          title: Errors
        included:
          anyOf:
          - items:
              $ref: '#/components/schemas/Data_PropertyAttributes_Literal_PROPERTY__'
            type: array
          - type: 'null'
          title: Included
        links:
          anyOf:
          - additionalProperties:
              anyOf:
              - type: string
              - type: 'null'
            type: object
          - type: 'null'
          title: Links
      title: 'Response[PropertyAttributes, Literal[<ResourceType.PROPERTY: ''PROPERTY''>]]'
      type: object
    PropertyAttributes:
      properties:
        address:
          description: '**Address** · **Adresse**'
          maxLength: 255
          title: Address
          type: string
        city:
          description: '**City** · **Stadt**'
          maxLength: 255
          title: City
          type: string
        country:
          description: '**Country** · **Land**'
          title: Country
          type: string
        date_created:
          description: '**Date created** · **Erstellt am**'
          format: date-time
          title: Date Created
          type: string
        description:
          description: '**Property description** · **Beschreibung**'
          maxLength: 255
          title: Description
          type: string
        name:
          description: '**Property name** · **Immobilienname**'
          maxLength: 250
          title: Name
          type: string
        zip_code:
          description: '**Zip code** · **Postleitzahl**'
          maxLength: 12
          title: Zip Code
          type: string
      required:
      - name
      - description
      - address
      - zip_code
      - city
      - country
      - date_created
      title: PropertyAttributes
      type: object
  securitySchemes:
    API Key:
      description: '

        The Alasco API uses a combination of API keys and API tokens to authenticate requests. The API key

        needs to be sent in a header field called `X-API-KEY`.

        '
      in: header
      name: X-API-KEY
      type: apiKey
    API Token:
      description: '

        In addition to an API key, one has to specify an API token. There can be one or more tokens in use

        for the same API key. The token needs to be sent in a header field called `X-API-TOKEN`.

        Right now, it''s not possible to create API keys and API tokens from within Alasco.

        If you are interested in using the Alasco API, please reach out to the

        [support team](mailto:support@alasco.de). They will assist you in generating a key and token pair.

        '
      in: header
      name: X-API-TOKEN
      type: apiKey
