openapi: 3.2.0
info:
  title: Alasco Custom Field API
  version: '1.0'
  x-logo:
    url: https://assets-global.website-files.com/656ef2eb27ad41897248f866/659eebec190ae7aaf4162f09_Logotype_Alasco_white_RGB%202.png
  description: 'Operations tagged Custom Field across 2 of this provider''s published API definitions: alasco-capex-openapi.json, alasco-fincon-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.alasco.de/capex/v1
- url: https://api.alasco.de/fincon/v1
tags:
- description: A **Custom Field** holds your account's user-defined values on a **Contract** (the fields themselves are configured in Alasco). It is read-only here and retrieved per contract (`GET /contracts/{contract_id}/custom_fields/`).
  name: Custom Field
paths:
  /contracts/{contract_id}/custom_fields/:
    get:
      operationId: get_custom_fields_by_contract_contracts__contract_id__custom_fields__get
      parameters:
      - in: path
        name: contract_id
        required: true
        schema:
          format: uuid
          title: Contract Id
          type: string
      - description: '

          List endpoint responses are paginated in the Alasco API. By calling the endpoint without the

          pagination parameter you will receive the first page. If not all elements fit on one page there will

          be a `next` link provided in the response''s `links` object. By calling this link you will receive

          the next page.

          '
        in: query
        name: cursor[position]
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: '

            List endpoint responses are paginated in the Alasco API. By calling the endpoint without the

            pagination parameter you will receive the first page. If not all elements fit on one page there will

            be a `next` link provided in the response''s `links` object. By calling this link you will receive

            the next page.

            '
          title: Cursor[Position]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_CustomFieldAttributes_Literal_CUSTOM_FIELD__'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
      - API Token: []
      summary: Get Custom Fields By Contract
      tags:
      - Custom Field
    servers:
    - url: https://api.alasco.de/capex/v1
  /projects/{project_id}/custom_fields/:
    get:
      operationId: get_custom_fields_by_project_projects__project_id__custom_fields__get
      parameters:
      - in: path
        name: project_id
        required: true
        schema:
          format: uuid
          title: Project Id
          type: string
      - description: '

          List endpoint responses are paginated in the Alasco API. By calling the endpoint without the

          pagination parameter you will receive the first page. If not all elements fit on one page there will

          be a `next` link provided in the response''s `links` object. By calling this link you will receive

          the next page.

          '
        in: query
        name: cursor[position]
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: '

            List endpoint responses are paginated in the Alasco API. By calling the endpoint without the

            pagination parameter you will receive the first page. If not all elements fit on one page there will

            be a `next` link provided in the response''s `links` object. By calling this link you will receive

            the next page.

            '
          title: Cursor[Position]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_CustomFieldAttributes_Literal_CUSTOM_FIELD__'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
        API Token: []
      summary: Get Custom Fields By Project
      tags:
      - Custom Field
    servers:
    - url: https://api.alasco.de/fincon/v1
components:
  schemas:
    Data_CustomFieldAttributes_Literal_CUSTOM_FIELD__:
      properties:
        attributes:
          $ref: '#/components/schemas/CustomFieldAttributes'
        id:
          format: uuid
          title: Id
          type: string
        relationships:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          description: '

            Contains links to related objects.

            '
          title: Relationships
        type:
          const: CUSTOM_FIELD
          title: Type
          type: string
      required:
      - id
      - type
      - attributes
      title: 'Data[CustomFieldAttributes, Literal[<ResourceType.CUSTOM_FIELD: ''CUSTOM_FIELD''>]]'
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    Error:
      properties:
        detail:
          anyOf:
          - type: string
          - type: 'null'
          title: Detail
        source:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Source
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
      title: Error
      type: object
    CustomFieldType:
      anyOf:
      - type: integer
      - type: string
      - format: date
        type: string
      - pattern: ^(?!^[-+.]*$)[+-]?0*\d*\.?\d*$
        type: string
      - items:
          type: string
        type: array
    CustomFieldAttributes:
      properties:
        name:
          description: '**Name** · **Name**'
          title: Name
          type: string
        value:
          $ref: '#/components/schemas/CustomFieldType'
          description: '**Value** · **Wert**'
      required:
      - value
      - name
      title: CustomFieldAttributes
      type: object
    ListResponse_CustomFieldAttributes_Literal_CUSTOM_FIELD__:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Data_CustomFieldAttributes_Literal_CUSTOM_FIELD__'
          title: Data
          type: array
        errors:
          anyOf:
          - items:
              $ref: '#/components/schemas/Error'
            type: array
          - type: 'null'
          title: Errors
        included:
          anyOf:
          - items:
              $ref: '#/components/schemas/Data_CustomFieldAttributes_Literal_CUSTOM_FIELD__'
            type: array
          - type: 'null'
          title: Included
        links:
          anyOf:
          - additionalProperties:
              anyOf:
              - type: string
              - type: 'null'
            type: object
          - type: 'null'
          description: '

            Contains the pagination''s next link if results don''t fit on one page.

            '
          title: Links
      required:
      - data
      title: 'ListResponse[CustomFieldAttributes, Literal[<ResourceType.CUSTOM_FIELD: ''CUSTOM_FIELD''>]]'
      type: object
    alasco__public_api__fincon__web__v1__schemas__custom_field__CustomFieldType:
      anyOf:
      - type: integer
      - type: string
      - format: date
        type: string
      - pattern: ^(?!^[-+.]*$)[+-]?0*\d*\.?\d*$
        type: string
      - items:
          type: string
        type: array
    CustomFieldAttributes_2:
      properties:
        name:
          description: '**Name** · **Name**'
          title: Name
          type: string
        value:
          $ref: '#/components/schemas/alasco__public_api__fincon__web__v1__schemas__custom_field__CustomFieldType'
          description: '**Value** · **Wert**'
      required:
      - value
      - name
      title: CustomFieldAttributes
      type: object
  securitySchemes:
    API_Key:
      description: '

        The Alasco API uses a combination of API keys and API tokens to authenticate requests. The API key

        needs to be sent in a header field called `X-API-KEY`.

        '
      in: header
      name: X-API-KEY
      type: apiKey
    API_Token:
      description: '

        In addition to an API key, one has to specify an API token. There can be one or more tokens in use

        for the same API key. The token needs to be sent in a header field called `X-API-TOKEN`.

        Right now, it''s not possible to create API keys and API tokens from within Alasco.

        If you are interested in using the Alasco API, please reach out to the

        [support team](mailto:support@alasco.de). They will assist you in generating a key and token pair.

        '
      in: header
      name: X-API-TOKEN
      type: apiKey
x-refined-from:
- alasco-capex-openapi.json
- alasco-fincon-openapi.json
