openapi: 3.2.0
info:
  description: '## Introduction


    You can use the Alasco API to integrate your application with Alasco.'
  title: ESG Utility Data Batch Info API
  version: '1.0'
  x-logo:
    url: https://assets-global.website-files.com/656ef2eb27ad41897248f866/659eebec190ae7aaf4162f09_Logotype_Alasco_white_RGB%202.png
servers:
- url: https://api.alasco.de/esg/v1
tags:
- description: '**Utility Data Batch Info** records the source and label of a batch of imported utility data. Create one and reference it (via `batch_info_uuid`) when writing meters, readings or consumption intervals to group them under an import; it cannot be changed once created.'
  name: Utility Data Batch Info
paths:
  /utility-data-batch-info/:
    post:
      operationId: add_utility_data_batch_info_utility_data_batch_info__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UtilityDataBatchInfoPayload'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UtilityDataBatchInfoResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
      - API Token: []
      summary: Add Utility Data Batch Info
      tags:
      - Utility Data Batch Info
components:
  schemas:
    alasco__public_api__esg__web__v1__schemas__utilities__utility_batch_info__UtilityDataBatchInfoWrite:
      properties:
        attributes:
          $ref: '#/components/schemas/alasco__ivy__public__api__utilities__utility_data_batch_info__UtilityDataBatchInfoWrite'
        type:
          const: UTILITY_DATA_BATCH_INFO
          default: UTILITY_DATA_BATCH_INFO
          title: Type
          type: string
      required:
      - attributes
      title: UtilityDataBatchInfoWrite
      type: object
    UtilityDataBatchInfoPayload:
      properties:
        data:
          $ref: '#/components/schemas/alasco__public_api__esg__web__v1__schemas__utilities__utility_batch_info__UtilityDataBatchInfoWrite'
      required:
      - data
      title: UtilityDataBatchInfoPayload
      type: object
    Links:
      properties:
        next:
          anyOf:
          - type: string
          - type: 'null'
          title: Next
        prev:
          anyOf:
          - type: string
          - type: 'null'
          title: Prev
      required:
      - next
      - prev
      title: Links
      type: object
    ResourceType:
      enum:
      - BUILDING
      - UTILITY_METER
      - UTILITY_METER_IMPORT
      - UTILITY_METER_READING
      - CONSUMPTION_INTERVAL
      - UTILITY_DATA_BATCH_INFO
      - AUDIT_LOG
      - USER_AUDIT_LOG
      - DOCUMENT_EVENT
      - FILE
      - FILE_EXTERNAL_ID
      - FILE_METADATA
      - ANALYSIS_RESULT
      - TENANT
      - TENANT_ATTACHMENT
      - CUSTOM_DATA_GROUP_INSTANCE
      - ANNUAL_CONSUMPTION
      - TENANT_CONSUMPTION_LINK
      title: ResourceType
      type: string
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    UtilityDataBatchInfoResponse:
      properties:
        data:
          $ref: '#/components/schemas/UtilityDataBatchInfoData'
        errors:
          anyOf:
          - items:
              $ref: '#/components/schemas/Error'
            type: array
          - type: 'null'
          title: Errors
        included:
          anyOf:
          - items:
              $ref: '#/components/schemas/BaseDataSchema'
            type: array
          - type: 'null'
          title: Included
        links:
          anyOf:
          - $ref: '#/components/schemas/Links'
          - type: 'null'
      required:
      - data
      title: UtilityDataBatchInfoResponse
      type: object
    UtilityDataBatchInfoData:
      properties:
        attributes:
          $ref: '#/components/schemas/UtilityDataBatchInfoAttributes'
        id:
          format: uuid
          title: Id
          type: string
        relationships:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Relationships
        type:
          const: UTILITY_DATA_BATCH_INFO
          default: UTILITY_DATA_BATCH_INFO
          title: Type
          type: string
      required:
      - id
      - attributes
      title: UtilityDataBatchInfoData
      type: object
    UtilityDataBatchInfoAttributes:
      properties:
        data_source_label:
          description: '**Data source label** · **Datenquelle (Bezeichnung)**'
          title: Data Source Label
          type: string
        data_source_value:
          description: '**Data source value** · **Datenquelle (Wert)**'
          title: Data Source Value
          type: string
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          description: '**External ID** · **Externe ID**'
          title: External Id
      required:
      - external_id
      - data_source_value
      - data_source_label
      title: UtilityDataBatchInfoAttributes
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    BaseDataSchema:
      properties:
        attributes:
          anyOf:
          - {}
          - type: 'null'
          title: Attributes
        id:
          format: uuid
          title: Id
          type: string
        relationships:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Relationships
        type:
          $ref: '#/components/schemas/ResourceType'
      required:
      - id
      - type
      title: BaseDataSchema
      type: object
    Error:
      properties:
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
        detail:
          anyOf:
          - type: string
          - type: 'null'
          title: Detail
        source:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Source
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
      title: Error
      type: object
    alasco__ivy__public__api__utilities__utility_data_batch_info__UtilityDataBatchInfoWrite:
      properties:
        data_source_label:
          title: Data Source Label
          type: string
        data_source_value:
          title: Data Source Value
          type: string
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
      required:
      - data_source_value
      - data_source_label
      title: UtilityDataBatchInfoWrite
      type: object
  securitySchemes:
    API_Key:
      description: '

        The Alasco API uses a combination of API keys and API tokens to authenticate requests. The API key

        needs to be sent in a header field called `X-API-KEY`.

        '
      in: header
      name: X-API-KEY
      type: apiKey
    API_Token:
      description: '

        In addition to an API key, one has to specify an API token. There can be one or more tokens in use

        for the same API key. The token needs to be sent in a header field called `X-API-TOKEN`.

        Right now, it''s not possible to create API keys and API tokens from within Alasco.

        If you are interested in using the Alasco API, please reach out to the

        [support team](mailto:support@alasco.de). They will assist you in generating a key and token pair.

        '
      in: header
      name: X-API-TOKEN
      type: apiKey
