openapi: 3.2.0
info:
  description: '## Introduction


    You can use the Alasco API to integrate your application with Alasco.'
  title: FinCon Sales Unit API
  version: '1.0'
  x-logo:
    url: https://assets-global.website-files.com/656ef2eb27ad41897248f866/659eebec190ae7aaf4162f09_Logotype_Alasco_white_RGB%202.png
servers:
- url: https://api.alasco.de/fincon/v1
tags:
- description: Read-only reporting view of sales units, showing listed and sold prices.
  name: Sales Unit
paths:
  /reporting/sales_units/:
    get:
      operationId: get_sales_units_reporting_sales_units__get
      parameters:
      - description: '

          List endpoint responses are paginated in the Alasco API. By calling the endpoint without the

          pagination parameter you will receive the first page. If not all elements fit on one page there will

          be a `next` link provided in the response''s `links` object. By calling this link you will receive

          the next page.

          '
        in: query
        name: cursor[position]
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: '

            List endpoint responses are paginated in the Alasco API. By calling the endpoint without the

            pagination parameter you will receive the first page. If not all elements fit on one page there will

            be a `next` link provided in the response''s `links` object. By calling this link you will receive

            the next page.

            '
          title: Cursor[Position]
      - description: '

          You can filter on certain attributes by specifying them as a GET parameter along

          with an operation, e.g. `filter[name.exact]=abc`.


          Currently supported operations are:

          * `exact`: Expects one value

          * `contains`: Expects one value

          * `less_than_equal`: Expects one value

          * `greater_than_equal`: Expects one value

          * `range`: Expects two values

          * `in`: Expects one or multiple values

          * `not_in`: Expects one or multiple values

          * `is`: Expects one value


          The following attributes support filtering:


          | **Attribute** | `exact` | `contains` | `less_than_equal` | `greater_than_equal` | `range` | `in` | `not_in` | `is` |

          | :--- | :---: | :---: | :---: | :---: | :---: | :---: | :---: | :---: |

          | `id` |   |   |   |   |   | x | x |   |

          | `name` | x | x |   |   |   |   |   |   |

          | `status` |   |   |   |   |   | x | x |   |

          | `selling_date` |   |   | x | x | x |   |   | x |

          | `sold_price.net` |   |   | x | x | x |   |   | x |

          | `sold_price.tax` |   |   | x | x | x |   |   | x |

          | `listed_price.net` |   |   | x | x | x |   |   | x |

          | `listed_price.tax` |   |   | x | x | x |   |   | x |

          | `project` |   |   |   |   |   | x | x |   |

          '
        in: query
        name: filter[attribute.operation]
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: '

            You can filter on certain attributes by specifying them as a GET parameter along

            with an operation, e.g. `filter[name.exact]=abc`.


            Currently supported operations are:

            * `exact`: Expects one value

            * `contains`: Expects one value

            * `less_than_equal`: Expects one value

            * `greater_than_equal`: Expects one value

            * `range`: Expects two values

            * `in`: Expects one or multiple values

            * `not_in`: Expects one or multiple values

            * `is`: Expects one value


            The following attributes support filtering:


            | **Attribute** | `exact` | `contains` | `less_than_equal` | `greater_than_equal` | `range` | `in` | `not_in` | `is` |

            | :--- | :---: | :---: | :---: | :---: | :---: | :---: | :---: | :---: |

            | `id` |   |   |   |   |   | x | x |   |

            | `name` | x | x |   |   |   |   |   |   |

            | `status` |   |   |   |   |   | x | x |   |

            | `selling_date` |   |   | x | x | x |   |   | x |

            | `sold_price.net` |   |   | x | x | x |   |   | x |

            | `sold_price.tax` |   |   | x | x | x |   |   | x |

            | `listed_price.net` |   |   | x | x | x |   |   | x |

            | `listed_price.tax` |   |   | x | x | x |   |   | x |

            | `project` |   |   |   |   |   | x | x |   |

            '
          title: Filter[Attribute.Operation]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse_SalesUnitAttributes_Literal_SALES_UNIT_FINANCIALS__'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
        API Token: []
      summary: Get Sales Units
      tags:
      - Sales Unit
  /reporting/sales_units/{id}/:
    get:
      operationId: get_sales_unit_details_reporting_sales_units__id___get
      parameters:
      - in: path
        name: id
        required: true
        schema:
          format: uuid
          title: Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_SalesUnitAttributes_Literal_SALES_UNIT_FINANCIALS__'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
        API Token: []
      summary: Get Sales Unit Details
      tags:
      - Sales Unit
components:
  schemas:
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    Response_SalesUnitAttributes_Literal_SALES_UNIT_FINANCIALS__:
      properties:
        data:
          anyOf:
          - $ref: '#/components/schemas/Data_SalesUnitAttributes_Literal_SALES_UNIT_FINANCIALS__'
          - type: 'null'
        errors:
          anyOf:
          - items:
              $ref: '#/components/schemas/Error'
            type: array
          - type: 'null'
          title: Errors
        included:
          anyOf:
          - items:
              $ref: '#/components/schemas/Data_SalesUnitAttributes_Literal_SALES_UNIT_FINANCIALS__'
            type: array
          - type: 'null'
          title: Included
        links:
          anyOf:
          - additionalProperties:
              anyOf:
              - type: string
              - type: 'null'
            type: object
          - type: 'null'
          title: Links
      title: 'Response[SalesUnitAttributes, Literal[<ResourceType.SALES_UNIT_FINANCIALS: ''SALES_UNIT_FINANCIALS''>]]'
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    Error:
      properties:
        detail:
          anyOf:
          - type: string
          - type: 'null'
          title: Detail
        source:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Source
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
      title: Error
      type: object
    Data_SalesUnitAttributes_Literal_SALES_UNIT_FINANCIALS__:
      properties:
        attributes:
          $ref: '#/components/schemas/SalesUnitAttributes'
        id:
          format: uuid
          title: Id
          type: string
        relationships:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          description: '

            Contains links to related objects.

            '
          title: Relationships
        type:
          const: SALES_UNIT_FINANCIALS
          title: Type
          type: string
      required:
      - id
      - type
      - attributes
      title: 'Data[SalesUnitAttributes, Literal[<ResourceType.SALES_UNIT_FINANCIALS: ''SALES_UNIT_FINANCIALS''>]]'
      type: object
    SalesUnitAttributes:
      properties:
        listed_price:
          description: '**Listed price** · **Planerlös**'
          properties:
            currency:
              description: '**Currency code** · **Währungscode**'
              example: EUR
              title: Currency code
              type: string
            net:
              description: '**Net amount** · **Nettobetrag**'
              example: '123.123456789012'
              title: Net amount
              type: string
            tax:
              description: '**Tax amount** · **Steuerbetrag**'
              example: '123.123456789012'
              title: Tax amount
              type: string
          title: Listed Price
          type: object
        name:
          description: '**Name** · **Name**'
          maxLength: 250
          title: Name
          type: string
        project:
          description: '**Project** · **Projekt**'
          format: uuid
          title: Project
          type: string
        selling_date:
          description: '**Selling date** · **Verkaufsdatum**'
          format: date
          title: Selling Date
          type: string
        sold_price:
          description: '**Sold price** · **Verkaufspreis**'
          properties:
            currency:
              description: '**Currency code** · **Währungscode**'
              example: EUR
              title: Currency code
              type: string
            net:
              description: '**Net amount** · **Nettobetrag**'
              example: '123.123456789012'
              title: Net amount
              type: string
            tax:
              description: '**Tax amount** · **Steuerbetrag**'
              example: '123.123456789012'
              title: Tax amount
              type: string
          title: Sold Price
          type: object
        status:
          $ref: '#/components/schemas/SalesUnitStatus'
          description: '**Status** · **Status**


            Available values / Verfügbare Werte:


            | Value | English | Deutsch |

            | --- | --- | --- |

            | `OPEN` | Open | Offen |

            | `RESERVED` | Reserved | Reserviert |

            | `SOLD` | Sold | Verkauft |'
          examples:
          - OPEN
      required:
      - name
      - status
      - selling_date
      - sold_price
      - listed_price
      - project
      title: SalesUnitAttributes
      type: object
    ListResponse_SalesUnitAttributes_Literal_SALES_UNIT_FINANCIALS__:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Data_SalesUnitAttributes_Literal_SALES_UNIT_FINANCIALS__'
          title: Data
          type: array
        errors:
          anyOf:
          - items:
              $ref: '#/components/schemas/Error'
            type: array
          - type: 'null'
          title: Errors
        included:
          anyOf:
          - items:
              $ref: '#/components/schemas/Data_SalesUnitAttributes_Literal_SALES_UNIT_FINANCIALS__'
            type: array
          - type: 'null'
          title: Included
        links:
          anyOf:
          - additionalProperties:
              anyOf:
              - type: string
              - type: 'null'
            type: object
          - type: 'null'
          description: '

            Contains the pagination''s next link if results don''t fit on one page.

            '
          title: Links
      required:
      - data
      title: 'ListResponse[SalesUnitAttributes, Literal[<ResourceType.SALES_UNIT_FINANCIALS: ''SALES_UNIT_FINANCIALS''>]]'
      type: object
    SalesUnitStatus:
      enum:
      - OPEN
      - RESERVED
      - SOLD
      title: SalesUnitStatus
      type: string
  securitySchemes:
    API_Key:
      description: '

        The Alasco API uses a combination of API keys and API tokens to authenticate requests. The API key

        needs to be sent in a header field called `X-API-KEY`.

        '
      in: header
      name: X-API-KEY
      type: apiKey
    API_Token:
      description: '

        In addition to an API key, one has to specify an API token. There can be one or more tokens in use

        for the same API key. The token needs to be sent in a header field called `X-API-TOKEN`.

        Right now, it''s not possible to create API keys and API tokens from within Alasco.

        If you are interested in using the Alasco API, please reach out to the

        [support team](mailto:support@alasco.de). They will assist you in generating a key and token pair.

        '
      in: header
      name: X-API-TOKEN
      type: apiKey
x-tagGroups:
- name: Core API
  tags:
  - Change Order
  - Change Order Document
  - Contact
  - Contract
  - Contract Document
  - Contract Unit
  - Contracting Entity
  - Contractor
  - Cost Element
  - Cost Element Tree Template
  - Custom Field
  - Custom Field Definition
  - Budget Shift
  - Invoice
  - Invoice Document
  - Invoice Tag
  - Project
  - Property
- name: Reporting API
  tags:
  - Contract Financials
  - Contract Unit Financials
  - Cash Outflow Cost Element View
  - Cost Element Financials
  - Cost Element Contract Financials
  - Cost Element Contract Unit Financials
  - Project Financials
  - Outright Sale
  - Rent Unit
  - Sales Unit
