openapi: 3.2.0
info:
  title: Alasco Contract Document API
  version: '1.0'
  x-logo:
    url: https://assets-global.website-files.com/656ef2eb27ad41897248f866/659eebec190ae7aaf4162f09_Logotype_Alasco_white_RGB%202.png
  description: 'Operations tagged Contract Document across 2 of this provider''s published API definitions: alasco-capex-openapi.json, alasco-fincon-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.alasco.de/capex/v1
- url: https://api.alasco.de/fincon/v1
tags:
- description: A **Contract Document** is a file (such as the signed contract or its terms) attached to a **Contract**. You can upload and download them; a document left unlinked from a contract is removed automatically after a short grace period.
  name: Contract Document
paths:
  /contracts/{contract_id}/documents/:
    get:
      operationId: get_contract_documents_contracts__contract_id__documents__get
      parameters:
      - in: path
        name: contract_id
        required: true
        schema:
          format: uuid
          title: Contract Id
          type: string
      - description: '

          You can filter on certain attributes by specifying them as a GET parameter along

          with an operation, e.g. `filter[name.exact]=abc`.


          Currently supported operations are:

          * `less_than_equal`: Expects one value

          * `greater_than_equal`: Expects one value

          * `range`: Expects two values

          * `in`: Expects one or multiple values

          * `not_in`: Expects one or multiple values


          The following attributes support filtering:


          | **Attribute** | `less_than_equal` | `greater_than_equal` | `range` | `in` | `not_in` |

          | :--- | :---: | :---: | :---: | :---: | :---: |

          | `document_type` |   |   |   | x | x |

          | `uploaded_at` | x | x | x |   |   |

          '
        in: query
        name: filter[attribute.operation]
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: '

            You can filter on certain attributes by specifying them as a GET parameter along

            with an operation, e.g. `filter[name.exact]=abc`.


            Currently supported operations are:

            * `less_than_equal`: Expects one value

            * `greater_than_equal`: Expects one value

            * `range`: Expects two values

            * `in`: Expects one or multiple values

            * `not_in`: Expects one or multiple values


            The following attributes support filtering:


            | **Attribute** | `less_than_equal` | `greater_than_equal` | `range` | `in` | `not_in` |

            | :--- | :---: | :---: | :---: | :---: | :---: |

            | `document_type` |   |   |   | x | x |

            | `uploaded_at` | x | x | x |   |   |

            '
          title: Filter[Attribute.Operation]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDocumentListResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
      - API Token: []
      summary: Get Contract Documents
      tags:
      - Contract Document
    post:
      operationId: create_contract_document_contracts__contract_id__documents__post
      parameters:
      - in: path
        name: contract_id
        required: true
        schema:
          format: uuid
          title: Contract Id
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_create_contract_document_contracts__contract_id__documents__post'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDocumentResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
      - API Token: []
      summary: Create Contract Document
      tags:
      - Contract Document
    servers:
    - url: https://api.alasco.de/capex/v1
  /contracts/{contract_id}/documents/{document_id}/:
    get:
      operationId: get_contract_document_contracts__contract_id__documents__document_id___get
      parameters:
      - in: path
        name: document_id
        required: true
        schema:
          format: uuid
          title: Document Id
          type: string
      - in: path
        name: contract_id
        required: true
        schema:
          format: uuid
          title: Contract Id
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractDocumentResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
      - API Token: []
      summary: Get Contract Document
      tags:
      - Contract Document
    servers:
    - url: https://api.alasco.de/capex/v1
  /contracts/{contract_id}/documents/{document_id}/download/:
    get:
      operationId: download_contract_document_contracts__contract_id__documents__document_id__download__get
      parameters:
      - in: path
        name: contract_id
        required: true
        schema:
          format: uuid
          title: Contract Id
          type: string
      - in: path
        name: document_id
        required: true
        schema:
          format: uuid
          title: Document Id
          type: string
      responses:
        '302':
          description: '

            Redirect to the temporary download link

            '
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
      - API Token: []
      summary: Download Contract Document
      tags:
      - Contract Document
    servers:
    - url: https://api.alasco.de/capex/v1
components:
  schemas:
    ContractDocumentDataLinks:
      properties:
        download:
          examples:
          - https://api.alasco.de/fincon/v1/contracts/<contract_id>/documents/<document_id>/download/
          title: Download
          type: string
        self:
          examples:
          - https://api.alasco.de/fincon/v1/contracts/<contract_id>/documents/<document_id>/
          title: Self
          type: string
      required:
      - self
      - download
      title: ContractDocumentDataLinks
      type: object
    ContractDocumentListResponse:
      properties:
        data:
          items:
            $ref: '#/components/schemas/ContractDocumentData'
          title: Data
          type: array
        errors:
          anyOf:
          - items:
              $ref: '#/components/schemas/Error'
            type: array
          - type: 'null'
          title: Errors
        included:
          anyOf:
          - items:
              $ref: '#/components/schemas/BaseDataSchema'
            type: array
          - type: 'null'
          title: Included
        links:
          anyOf:
          - additionalProperties:
              anyOf:
              - type: string
              - type: 'null'
            type: object
          - type: 'null'
          title: Links
      required:
      - data
      title: ContractDocumentListResponse
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    ContractDocumentAttributes:
      properties:
        document_type:
          $ref: '#/components/schemas/ContractDocumentType'
          description: '**Document type** · **Dokumentenart**


            Available values / Verfügbare Werte:


            | Value | English | Deutsch |

            | --- | --- | --- |

            | `CONTRACT` | Contract | Auftrag |

            | `ATTACHMENT` | Attachment | Anhang |'
        filename:
          description: '**Filename** · **Dateiname**'
          title: Filename
          type: string
        uploaded_at:
          description: '**Uploaded at** · **Hochgeladen am**'
          format: date-time
          title: Uploaded At
          type: string
      required:
      - document_type
      - filename
      - uploaded_at
      title: ContractDocumentAttributes
      type: object
    ContractDocumentResponse:
      properties:
        data:
          $ref: '#/components/schemas/ContractDocumentData'
        errors:
          anyOf:
          - items:
              $ref: '#/components/schemas/Error'
            type: array
          - type: 'null'
          title: Errors
        included:
          anyOf:
          - items:
              $ref: '#/components/schemas/BaseDataSchema'
            type: array
          - type: 'null'
          title: Included
        links:
          anyOf:
          - additionalProperties:
              anyOf:
              - type: string
              - type: 'null'
            type: object
          - type: 'null'
          title: Links
      required:
      - data
      title: ContractDocumentResponse
      type: object
    ContractDocumentType:
      description: Contract documents can be of different types such as `CONTRACT` and `ATTACHMENT`.
      enum:
      - CONTRACT
      - ATTACHMENT
      title: ContractDocumentType
      type: string
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    BaseDataSchema:
      properties:
        attributes:
          anyOf:
          - {}
          - type: 'null'
          title: Attributes
        id:
          format: uuid
          title: Id
          type: string
        relationships:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Relationships
        type:
          title: Type
          type: string
      required:
      - id
      - type
      title: BaseDataSchema
      type: object
    Error:
      properties:
        detail:
          anyOf:
          - type: string
          - type: 'null'
          title: Detail
        source:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Source
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
      title: Error
      type: object
    Body_create_contract_document_contracts__contract_id__documents__post:
      properties:
        document_type:
          $ref: '#/components/schemas/ContractDocumentType'
          description: 'Available values / Verfügbare Werte:


            | Value | English | Deutsch |

            | --- | --- | --- |

            | `CONTRACT` | Contract | Auftrag |

            | `ATTACHMENT` | Attachment | Anhang |'
        upload:
          contentMediaType: application/octet-stream
          description: '

            The file to submit. The file must be a valid PDF.

            '
          title: Upload
          type: string
      required:
      - document_type
      - upload
      title: Body_create_contract_document_contracts__contract_id__documents__post
      type: object
    ContractDocumentData:
      properties:
        attributes:
          $ref: '#/components/schemas/ContractDocumentAttributes'
        id:
          format: uuid
          title: Id
          type: string
        links:
          $ref: '#/components/schemas/ContractDocumentDataLinks'
        relationships:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          description: '

            Contains links to related objects.

            '
          examples:
          - contract:
              data:
                id: 503671b0-c9b4-47a9-b859-763fcf8a9f28
                type: CONTRACT
          title: Relationships
        type:
          default: CONTRACT_DOCUMENT
          title: Type
          type: string
      required:
      - id
      - attributes
      - links
      title: ContractDocumentData
      type: object
  securitySchemes:
    API_Key:
      description: '

        The Alasco API uses a combination of API keys and API tokens to authenticate requests. The API key

        needs to be sent in a header field called `X-API-KEY`.

        '
      in: header
      name: X-API-KEY
      type: apiKey
    API_Token:
      description: '

        In addition to an API key, one has to specify an API token. There can be one or more tokens in use

        for the same API key. The token needs to be sent in a header field called `X-API-TOKEN`.

        Right now, it''s not possible to create API keys and API tokens from within Alasco.

        If you are interested in using the Alasco API, please reach out to the

        [support team](mailto:support@alasco.de). They will assist you in generating a key and token pair.

        '
      in: header
      name: X-API-TOKEN
      type: apiKey
x-refined-from:
- alasco-capex-openapi.json
- alasco-fincon-openapi.json
