openapi: 3.1.0
info:
  description: '

    ## Introduction


    The **CAPEX API** enables you to integrate your application with the CAPEX system. The CAPEX API is REST-based and follows JSON:API principles for structuring responses.


    Starting from version 1.0, the API is stable. We are continuously improving our API, and new endpoints will be added. Any updates or changes within this major version will be backward-compatible and can be found in this documentation.


    For getting access to the CAPEX API, please reach out to us at: `kontakt@alasco.de`.


    The base URL for all endpoints is:

    `https://api.alasco.de/capex/v1`


    The CAPEX API supports compressed payloads. If you would like to make use of this, you have to specify the `Accept-Encoding` header. Supported encodings are `gzip` and `br`.


    ### Domain model


    Objects relate as follows (each `→` is a navigable sub-resource):


    - **Assets** and **Measures** are the CapEx-specific top-level objects; a **Measure** → **Contracts**, and invoices are submitted against an **Asset**.

    - **Contractor** and **Contracting Entity** → **Contracts**.

    - **Contract** → **Change Orders**, **Invoices**, contract terms, **Documents** and **Custom Fields**.

    - **Invoice** → **Documents** and **Tags** (Change Orders also carry **Documents**).


    ### CAPEX API Overview


    The CAPEX API provides endpoints to:

    - Retrieve and manage invoices, invoice tags, and invoice documents

    - Retrieve assets, contracts, contractors, and measures


    The CAPEX API uses pagination. The page size is 100, and additional pages can be accessed using a `next` link.

    '
  title: CAPEX Annual Consumption Tenant Consumption Links API
  version: '1.0'
  x-logo:
    url: https://assets-global.website-files.com/656ef2eb27ad41897248f866/659eebec190ae7aaf4162f09_Logotype_Alasco_white_RGB%202.png
servers:
- url: https://api.alasco.de/capex/v1
tags:
- description: A **Tenant Consumption Link** attributes a year's **Annual Consumption** to a **Tenant**. Links are created and deleted through the API by tenant external id and annual-consumption id (both must belong to the same building).
  name: Tenant Consumption Links
paths:
  /tenant-consumption-links/:
    delete:
      operationId: delete_tenant_consumption_link_tenant_consumption_links__delete
      parameters:
      - description: External ID of the tenant.
        in: query
        name: external_tenant_id
        required: true
        schema:
          description: External ID of the tenant.
          title: External Tenant Id
          type: string
      - description: UUID of the annual consumption entry.
        in: query
        name: annual_consumption_id
        required: true
        schema:
          description: UUID of the annual consumption entry.
          format: uuid
          title: Annual Consumption Id
          type: string
      responses:
        '204':
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
      - API Token: []
      summary: Delete Tenant Consumption Link
      tags:
      - Tenant Consumption Links
    post:
      operationId: create_tenant_consumption_link_tenant_consumption_links__post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantConsumptionLinkPayload'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantConsumptionLinkResponse'
          description: Successful Response
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      security:
      - API Key: []
      - API Token: []
      summary: Create Tenant Consumption Link
      tags:
      - Tenant Consumption Links
components:
  schemas:
    TenantConsumptionLinkWrite:
      properties:
        annual_consumption_id:
          format: uuid
          title: Annual Consumption Id
          type: string
        external_tenant_id:
          title: External Tenant Id
          type: string
      required:
      - external_tenant_id
      - annual_consumption_id
      title: TenantConsumptionLinkWrite
      type: object
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: Detail
          type: array
      title: HTTPValidationError
      type: object
    TenantConsumptionLinkResponse:
      properties:
        data:
          $ref: '#/components/schemas/TenantConsumptionLinkData'
        errors:
          anyOf:
          - items:
              $ref: '#/components/schemas/Error'
            type: array
          - type: 'null'
          title: Errors
        included:
          anyOf:
          - items:
              $ref: '#/components/schemas/BaseDataSchema'
            type: array
          - type: 'null'
          title: Included
        links:
          anyOf:
          - $ref: '#/components/schemas/Links'
          - type: 'null'
      required:
      - data
      title: TenantConsumptionLinkResponse
      type: object
    TenantConsumptionLinkCreatePayloadData:
      properties:
        attributes:
          $ref: '#/components/schemas/TenantConsumptionLinkWrite'
        type:
          const: TENANT_CONSUMPTION_LINK
          title: Type
          type: string
      required:
      - type
      - attributes
      title: TenantConsumptionLinkCreatePayloadData
      type: object
    BaseDataSchema:
      properties:
        attributes:
          anyOf:
          - {}
          - type: 'null'
          title: Attributes
        id:
          format: uuid
          title: Id
          type: string
        relationships:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Relationships
        type:
          $ref: '#/components/schemas/ResourceType'
      required:
      - id
      - type
      title: BaseDataSchema
      type: object
    ResourceType:
      enum:
      - BUILDING
      - UTILITY_METER
      - UTILITY_METER_IMPORT
      - UTILITY_METER_READING
      - CONSUMPTION_INTERVAL
      - UTILITY_DATA_BATCH_INFO
      - AUDIT_LOG
      - USER_AUDIT_LOG
      - DOCUMENT_EVENT
      - FILE
      - FILE_EXTERNAL_ID
      - FILE_METADATA
      - ANALYSIS_RESULT
      - TENANT
      - TENANT_ATTACHMENT
      - CUSTOM_DATA_GROUP_INSTANCE
      - ANNUAL_CONSUMPTION
      - TENANT_CONSUMPTION_LINK
      title: ResourceType
      type: string
    Error:
      properties:
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
        detail:
          anyOf:
          - type: string
          - type: 'null'
          title: Detail
        source:
          anyOf:
          - additionalProperties:
              type: string
            type: object
          - type: 'null'
          title: Source
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
      title: Error
      type: object
    TenantConsumptionLinkPayload:
      properties:
        data:
          $ref: '#/components/schemas/TenantConsumptionLinkCreatePayloadData'
      required:
      - data
      title: TenantConsumptionLinkPayload
      type: object
    ValidationError:
      properties:
        ctx:
          title: Context
          type: object
        input:
          title: Input
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          title: Location
          type: array
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
      required:
      - loc
      - msg
      - type
      title: ValidationError
      type: object
    TenantConsumptionLinkData:
      properties:
        attributes:
          $ref: '#/components/schemas/TenantConsumptionLinkAttributes'
        id:
          format: uuid
          title: Id
          type: string
        relationships:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Relationships
        type:
          const: TENANT_CONSUMPTION_LINK
          default: TENANT_CONSUMPTION_LINK
          title: Type
          type: string
      required:
      - id
      - attributes
      title: TenantConsumptionLinkData
      type: object
    TenantConsumptionLinkAttributes:
      properties:
        annual_consumption_id:
          description: '**Annual consumption ID** · **Jahresverbrauch-ID**'
          format: uuid
          title: Annual Consumption Id
          type: string
        external_tenant_id:
          description: '**External tenant ID** · **Externe Mieter-ID**'
          title: External Tenant Id
          type: string
      required:
      - external_tenant_id
      - annual_consumption_id
      title: TenantConsumptionLinkAttributes
      type: object
    Links:
      properties:
        next:
          anyOf:
          - type: string
          - type: 'null'
          title: Next
        prev:
          anyOf:
          - type: string
          - type: 'null'
          title: Prev
      required:
      - next
      - prev
      title: Links
      type: object
  securitySchemes:
    API Key:
      description: '

        The Alasco API uses a combination of API keys and API tokens to authenticate requests. The API key

        needs to be sent in a header field called `X-API-KEY`.

        '
      in: header
      name: X-API-KEY
      type: apiKey
    API Token:
      description: '

        In addition to an API key, one has to specify an API token. There can be one or more tokens in use

        for the same API key. The token needs to be sent in a header field called `X-API-TOKEN`.

        Right now, it''s not possible to create API keys and API tokens from within Alasco.

        If you are interested in using the Alasco API, please reach out to the

        [support team](mailto:support@alasco.de). They will assist you in generating a key and token pair.

        '
      in: header
      name: X-API-TOKEN
      type: apiKey
